<%- include('partials-admin/header-admin.ejs') %>
<%- include('partials-admin/sidebar-admin.ejs') %>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>
    <h1>Modifier un article</h1>
    <!--FORMULAIRE POUR AJOUTER UN ARTICLE-->
    <form action="/admin/liste-des-articles/modifier/<%= article.articleId %>?_method=PUT" method="POST">
        <!-- TITRE -->
        <div class="mb-3">
            <label class="form-label">Titre de l'article</label>
            <input class="form-control" name="titre" value="<%= article.titre %>">
        </div>
        <!-- DESCRIPTION -->
        <div class="mb-3">
            <label class="form-label">Description</label>
            <input class="form-control" name="description" value="<%= article.description %>">
        </div>
        <!--AUTEUR-->
        <div class="mb-3">
            <select class="form-select" aria-label="Default select example" name="auteurId">
                <option value="<%= article.auteurID %>" selected>Choisi un auteur</option>
                <% auteurs.forEach(function(auteur) {%>
                <option value="<%= auteur.auteurId %>"><%= auteur.nom %></option>
                <%});%>

              </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


<%- include('partials-admin/footer-admin.ejs') %> 